*{
    margin: 0px;
    box-sizing: border-box;
}

.nav{
    
    display: flex;
    justify-content: flex-end;
    
    
}

.nav-link {
   color: white;
    size: 18px;
    text-decoration: none; 
    margin-left: 10px;
}

.header{
    display: flex;
    justify-content: space-between;  
    padding: 20px;
    background-color: black;
}

.logo{
    width: 100px;

}

.section-body{
    min-height: 100vh;
}

.profile-body{
    margin:20px;
    height:100vh
}

.home-title {
    background-image: url('https://www.mydigitalschool.com/sites/default/files/styles/accueil_slideshow/public/2022-02/MBA%20EDUNIVERSAL%20%281%29.jpg.webp?itok=ha-IlGZJ');
    background-size: cover;
    height:40vh;
    padding-top:50px;
}

.bg-blue{
background-color: #2db7c4;
}
.formations{
    display:flex;
    justify-content: space-evenly;
    color: white;
    padding-bottom:40px;
    
}

.title-formations{
    padding-top:40px;
    padding-bottom: 30px;;
}
.form{
    display: flex;
    justify-content: space-between;

}

.img-register{
    background-image: url('https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    height:100vh;
    width:50%;
}
.form-input{
    padding : 14px;
    width:50%;

}

/* box avec les chiffres clés */

.un{
    background-color:#24929C;
}

.deux{
    background-color:#1F7F89 ;
}

.trois{
    background-color:#24929C ;
}

.quatre{
    background-color: #1B6E75; 
}

.box{
    width:25%;
    height: 200px;
    display: flexbox;
    padding-top:75px;
   
}