<link href="footer.css" rel="stylesheet">
   

</head>
<body>
    <footer>
        <ul class="icons">
            <li><a href="https://www.facebook.com/my.digital.schoolFR/" target="_blank"><img src="asset/img/facebook%20(1).png" width="20"></a></li>
            <li><a href="https://www.instagram.com/mydigitalschool/" target="_blank"><img src="asset/img/instagram%20(1).png" width="20"></a></li>
            <li><a href="https://www.linkedin.com/school/mydigitalschool/" target="_blank"><img src="asset/img/linkedin.png" width="20"></a></li>
            <li><a href="https://twitter.com/home" target="_blank"><img src="asset/img/twitter%20(3).png" width="20"></a></li>
        </ul>
        <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mon profile</a></li>
                <li><a href="#">Log out</a></li>
        </ul>
            <div class="footer-copyright">
                <p>Un site réalisé par les meilleurs dev web de la planète</p>
            </div>
    </footer>